body {
  background-color: rgb(212, 234, 188);
  font-family: "Work Sans", sans-serif;
  text-align: center;
}

h1 {
  font-size: 24px;
  font-weight: 700;
}

table {
  margin: 30px auto;
  border: 3px solid black;
  width:80%;
}

table th {
  font-size: 24px;
  padding: 10px 25px;
  background-color: aliceblue;
}

td {
    border: 1px solid rgb(110, 4, 93);
}

.code {
    display: inline;
    font-family: monospace;
    background-color: rgb(249, 236, 94);
}